# For my GPU rtx 2060
#pip install torch==2.2.1+cu118 torchvision==0.17.1+cu118 --extra-index-url https://download.pytorch.org/whl/cu118

# Stable Diffusion + LoRA support
diffusers==0.27.2
transformers==4.41.1
peft==0.10.0
datasets==2.19.1
accelerate==0.30.1
Pillow==10.3.0
pandas==2.2.2
scipy==1.13.1
huggingface_hub[hf_xet]==0.23.2
xformers==0.0.25

# Optional
wandb==0.16.6
tqdm==4.66.1
